.category-posts {
	width: 100%;
	height: auto;
	padding-top: 30px;
}
/* new posts */
.new {
	padding: 30px;
	width: 100%;
}

.new-posts {
	width: 100%;
}

.new-posts-inner {
	width: 100%;
	border-bottom: solid 0px #cc0000;
	height: 216px;
}

.new-posts-img {
	float: left;
	height: 216px;
	width: 40%;
	background-size: cover;
    background-position: center;
}

.new-posts-about {
	float: left;
	height: 216px;
	width: 60%;
}

.new-posts-about-title {
	width: 100%;
	padding: 20px;
	font-size: 20px;
	padding-bottom: 0;
}

.new-posts-about-desc {
	width: 100%;
	padding: 20px;
}

.new-post-date {
	font-size: 15px;
}

.new-rasporka {
	width: 100%;
	height: 20px;
}

.new-section {
	width: 100%;
	height: 100px;
	font-size: 20px;
}
/* end new posts */

/* new events-facts */

.new-events-inner {
	width: 100%;
	padding-top: 10px;
}

.new-events-img {
	float: left;
	width: 40%;
	background-size: cover;
    background-position: center;
}

.new-events-title {
	float: left;
	width: 60%;
	padding: 5px 10px;
}

.new-facts-inner {
	width: 100%;
	padding-top: 10px;
}

.new-facts-img {
	float: left;
	width: 40%;
	background-size: cover;
    background-position: center;
}

.new-facts-title {
	float: left;
	width: 60%;
	padding: 5px 10px;
}

/* end new events-facts */

/* pagination */
.pag {
    width: 100%;
    text-align: center;
}

.pag .active span {
    background: #cc0000;
    border-color: #cc0000;
}

.pag .active span:hover {
    background: #fff;
    border-color: #cc0000;
    color: #cc0000;
}

.pagination > li > a,
.pagination > li > span {
    color: #cc0000;
}


.pagination > li:hover > a,
.pagination > li:hover > span {
    color: #cc0000;
    border-color: #cc0000;
}
/*end pagination */


@media (max-width: 992px) {

	/* pagination */
	.pag {
		font-size: 42px;
	    width: 100%;
	    text-align: center;
	}

	.pag .active span {
	    background: #cc0000;
	    border-color: #cc0000;
	}

	.pag .active span:hover {
	    background: #fff;
	    border-color: #cc0000;
	    color: #cc0000;
	}

	.pagination > li > a,
	.pagination > li > span {
	    width: 80px;
	    height: 78px;
	}

	.pagination > li > a,
	.pagination > li > span {
	    color: #cc0000;
	}


	.pagination > li:hover > a,
	.pagination > li:hover > span {
	    color: #cc0000;
	    border-color: #cc0000;
	}
	/*end pagination */

	/* new posts */


	.new-posts-inner {
		border-bottom: solid 0px #fff;
	}


	.new-posts-about-title {
		font-size: 42px;
	}

	.new-section {
		font-size: 42px;
	}

	/* end new posts */


    /* new events-facts */
    .section-title {
    	font-size: 42px;
    	text-align: center;
    	height: 100px;
    	padding-top: 30px;
    	border-bottom: solid 2px #cc0000;
    }

	.new-events-title {
		float: left;
		width: 60%;
		padding: 5px 20px;
		font-size: 35px;
	}

	.new-facts-inner {
		width: 100%;
		padding-top: 10px;
	}

	.new-facts-img {
		float: left;
		width: 40%;
		background-size: cover;
	    background-position: center;
	}

	.new-facts-title {
		float: left;
		width: 60%;
		padding: 5px 20px;
		font-size: 35px;
	}

/* end new events-facts */

}