<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Error 404 | Just double i</title>
    </head>
    
    <body>
        <div class="error404">
            <h2>Error 500</h2>
            <h1>Oops!</h1>
            <h2>Unexpected Error</h2>
            <p>An error occured and your request couldn't be completed. Please try again.</p>
            <br>
            <div class="going_to_homepage">
                <a href="{% url 'home' %}">Going to homepage <span class="glyphicon glyphicon-home"></span></a>
            </div>
        </div>
    </body>
</html>
