{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
    <title>Про | Just double i</title>
{% endblock %}

{% block meta_desc %}
	<meta name="keywords" content="about">
    <meta name="description" content="about">
{% endblock %}

{% block loadfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block section %}
	<span id="logo-section">Про</span>
{% endblock %}

{% block about %}
	<div class="about">
		<div class="about-inner">
			<p class="about-logo">Just Double I</p>
			<p class="about-main">
				{% trans 'На этом сайте вы можете прочитать интерестные факты, статьи и новости на тему автомобилей, музыки, информационных технологий и разработки, игральных карт и просто интерестные события.' %}
			<p class="about-ps">
				{% trans 'Не факт что все статьи здесь будуть свежими, но факт что они будут интерестными!' %}
			</p>
			<p class="about-footer">
				Rakamakafo © 2020
			</p>
		</div>
	</div>
{% endblock %}