{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
	{% ifequal LANGUAGE_CODE 'uk' %}
        <title>{{ category.name_ua }} | Rakamakafo</title>
    {% else %}
        <title>{{ category.name }} | Rakamakafo</title>
    {% endifequal %}
{% endblock %}

{% block meta_desc %}
	{% ifequal LANGUAGE_CODE 'uk' %}
        <meta name="keywords" content="{{ category.name_ua }}">
    	<meta name="description" content="{{ category.name_ua }}">
    {% else %}
        <meta name="keywords" content="{{ category.name }}">
    	<meta name="description" content="{{ category.name }}">
    {% endifequal %}
{% endblock %}

{% block loadfiles %}
	<link rel="stylesheet" type="text/css" href='{% static "css/category-posts.css" %}' />
	<link rel="stylesheet" type="text/css" href='{% static "css/new-posts.css" %}' />

	<script src='{% static "js/new.js" %}'></script>
{% endblock %}

{% block section %}
    {% ifequal LANGUAGE_CODE 'uk' %}
        <span id="logo-section">{{ category.name_ua }}</span>
    {% else %}
        <span id="logo-section">{{ category.name }}</span>
    {% endifequal %}
{% endblock %}


{% block category_posts %}
	<div class="category-posts" style="padding: 30px;">
		{% for cat_post in cat_posts %}
			<div class="new-posts-inner">
        <a class="hidden-lg" href="{% url 'view_post' pk=cat_post.pk %}">
          {% thumbnail cat_post.image "500" as im %}
          <div class="new-posts-img" style="background-image: url({{ im.url }});"></div>
          {% endthumbnail %}
        </a>
				<div class="new-posts-about">
					<div class="new-posts-about-title">
						<a class="hidden-lg hidden-md" href="{% url 'view_post' pk=cat_post.pk %}">
							{{ cat_post.title|truncatewords:7 }}
						</a>
						<a class="hidden-xs hidden-sm" href="{% url 'view_post' pk=cat_post.pk %}">
							{{ cat_post.title }}
						</a>
					</div>
					<div class="new-posts-about-desc hidden-xs hidden-sm">
						{{ cat_post.description|safe|truncatewords:30 }}
					</div>
				</div>
			</div>
			<div class="new-rasporka"></div>
		{% endfor %}
	</div>
{% endblock %}