{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    <title>Rakamakafo</title>
{% endblock %}

{% block meta_desc %}
	<meta name="keywords" content="Rakamakafo">
    <meta name="description" content="Rakamakafo">
{% endblock %}

{% block loadfiles %}
	<link rel="stylesheet" type="text/css" href='{% static "css/slider.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/home-posts.css" %}'>

    <script src='{% static "js/slider.js" %}'></script>
{% endblock %}

{% block home %}

<div class="row">
    <div class="left col-lg-5 col-md-5 ls-hidden">
        <div class="left-panel">

            <div class="Wrap hidden-sm hidden-xs">
               <div class="slideWrp">
               		{% for rand_post in rand_posts %}
	                    <div class="thumbnail slide-block">
	                        {% thumbnail rand_post.image "500" as im %}
	                        	<div class="slide-block-img" style="background-image: url({{ im.url }});"></div>
	                        {% endthumbnail %}
	                        <div class="caption">
	                            <a href="{% url 'view_post' pk=rand_post.pk %}">
	                            	<h3>{{ rand_post.title}}</h3>
	                            </a>
	                            <p>{{ rand_post.description|safe|truncatewords:20 }}</p>
	                        </div>
	                    </div>
                    {% endfor %}
                </div>
                <div class="indexActivate">
                    <ul id="points">
                        <li num="1"></li>
                        <li num="2"></li>
                        <li num="3"></li>
                        <li num="4"></li>
                        <li num="5"></li>
                    </ul>
                </div>
            </div>

            <br>

        </div>
    </div>

    <div class="main col-lg-7 col-md-7 col-ls-12">
        <div class="container-fluid main">

        	{% for last_post in last_posts %}
        		<a class="main-post-link" href="{% url 'view_post' pk=last_post.pk %}">
        			{% thumbnail last_post.image "600" as im %}
			            <div class="main-post-inner" style="background-image: url({{ im.url }});">
			                <div class="main-post-inner-desc" >
			                    <div class="main-post-title">

			                        <div class="main-post-title-desc">
			                            {% ifequal LANGUAGE_CODE 'uk' %}
						                    <span>{{ last_post.category.name_ua }}</span>
						                {% else %}
						                    <span>{{ last_post.category }}</span>
						                {% endifequal %}
			                        </div>

			                        <div class="main-post-title-t">
		                            	<span class="main-title">{{ last_post.title|truncatewords:7 }}</span>
			                        </div>
			                    </div>
			                </div>
			            </div>
		            {% endthumbnail %}
	            </a>
            	<div class="underliner"></div>
            {% endfor %}
        </div>

        <br>

    </div>
</div>

{% endblock %}