{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
    <title>{% trans 'Поиск' %} | Rakamakafo</title>
{% endblock %}

{% block loadfiles %}
	<link rel="stylesheet" type="text/css" href='{% static "css/search.css" %}'>
{% endblock %}

{% block section %}
	<span id="logo-section">{% trans 'Поиск' %}</span>
{% endblock %}

{% block search %}
	<div class="search">
	    <div class="results" id="results">
	    	<div class="search-results">
				{% if messages %}
					<h4>Oops!</h4>
					<center>
						<ul id="messages">
							{% for message in messages %}
								<li>{{ message }}</li>
							{% endfor %}
						</ul>
					</center>
				{% endif %}

				<ul class="nav nav-pills nav-stacked blue">
					{% for result_post in result %}
						<li>
							<a class="button_category_posts" href="{% url 'view_post_slug' slug=result_post.slug %}">
								{{ result_post.title|truncatewords:7 }}
							</a>
							<span class="rubric">{{ result_post.category }}</span>
							<span class="rubric">{{ result_post.date }}</span>
							<span class="rubric">{{ result_post.author }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

{% endblock %}