{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
    <title>{{ tag }} | Just double i</title>
{% endblock %}

{% block meta_desc %}
	<meta name="keywords" content="{{ tag }}">
    <meta name="description" content="{{ tag }}">
{% endblock %}

{% block loadfiles %}
	<link rel="stylesheet" type="text/css" href='{% static "css/category-posts.css" %}' />
	<link rel="stylesheet" type="text/css" href='{% static "css/tag.css" %}' />
	<link rel="stylesheet" type="text/css" href='{% static "css/new-posts.css" %}' />

	<script src='{% static "js/new.js" %}'></script>
{% endblock %}

{% block section %}
	<span id="logo-section">Тег</span>
{% endblock %}


{% block tag %}

<div class="tag">
	<div class="tag-inner">
		{% trans 'Статьи по тегу' %}:<span id="tag-name"> {{ tag }}</span>
	</div>
	{% for tag_post in tag_posts %}
		<div class="new-posts-inner">
      <a class="hidden-lg hidden-md" href="{{ tag_post.get_absolute_url }}">
        {% thumbnail tag_post.image "350" as im %}
        <div class="new-posts-img" style="background-image: url({{ im.url }});"></div>
        {% endthumbnail %}
      </a>
			<div class="new-posts-about">
				<div class="new-posts-about-title">
					<a class="hidden-lg hidden-md" href="{{ tag_post.get_absolute_url }}">
						{{ tag_post.title|truncatewords:7 }}
					</a>
					<a class="hidden-xs hidden-sm" href="{{ tag_post.get_absolute_url }}">
						{{ tag_post.title }}
					</a>
				</div>
				<div class="new-posts-about-desc hidden-sm hidden-xs">
					{{ tag_post.description|truncatewords:30|safe }}
				</div>
			</div>
		</div>
		<div class="new-rasporka"></div>
	{% endfor %}
</div>

{% endblock %}