.fact {
	padding: 50px 30px;
	width: 100%;
}

.fact-title {
	width: 100%;
	font-size: 40px;
}

.fact-info {
	width: 100%;
	padding-left: 10px;
}

.fact-img {
	width: 100%;
	text-align: center;
}

.fact-img img {
	max-width: 100%;
	height: auto;
}

hr::after {
    /* Градиент */
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #c00000 100%);
    background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, #ffffff), color-stop(100%, #c00000));
    background: -webkit-linear-gradient(left, #ffffff 0%, #c00000 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #c00000 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #c00000 100%);
    background: linear-gradient(to left, #ffffff 0%, #c00000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cc0000', GradientType=1);
    content: "";
    display: block;
    /* Вместо толщины */
    height: 1px;
    width: 100%;
}

.fact-content {
	padding: 15px 0 20px 0;
	width: 100%;
}

@media (max-width: 992px) {


    .fact-title {
        font-size: 50px;
    }
        
    .fact-content {
        font-size: 35px;
    }

    .fact-info {
        font-size: 35px;
    }

}