body {
    background: ;
    height:100%;
    margin: 0px;
    padding: 0px;
}

html {
    height:100%;
    margin: 0px;
    padding: 0px;
}

iframe,
object,
video {
    max-width: 100%;
}


.maket {
    position: relative;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #cc0000;
}

.section-title {
    width: 100%;
    font-size: 25px;
    border-bottom: solid 1px #b80202;
}


/*maket*/
.maket {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

/*left panel*/
.left {
    margin: 0 auto;
}

.left-panel {
    width: 100%;
    padding-top: 25px;
    padding-left: 0px;
}

/*events*/
.events {
    font-family: Helvetica;
}


/*end events posts*/

/* facts */
.blue {
    padding-top: 10px;
}

.blue li {
    padding-top: 10px;
    padding-bottom: 10px;
}
/*end facts */

/*end left panel*/


/*right panel*/
.right {
    min-height: 80vh;
    padding-top: 30px;
    padding-right: 35px;
}

/*categories list*/

.nav-pills > li > a {
    border-radius: 0px;
}

a.categories {
    color: black;
    font-family: verdana;
} 

a.categories:hover {
    color: #fff;
}

.red li a:hover,
.red li a:focus {
    background-color: #cc0000;
}

/*end categories list*/

#right-categories {
    padding-bottom: 5px;
}

.extra-cat {
    border-top: solid 1px black;
    padding-top: 5px;
}

/*end right panel*/
/*end main panel*/

/*end maket*/


#search-form {
    padding: 30px;
    width: 98%;
    height: 100px;
    text-align: center;
    display: none;
}

#search-input {
    width: 70%;
    height: 42px;
    border: solid 1px #cc0000;
    padding-left: 15px;
    font-size: 20px;
    color: #cc0000;
}

input:focus { 
    outline: none !important;
    border-color: #719ECE;
}

#search-button {
    width: 10%;
    height: 42px;
    border: solid 1px #fff;
    background-color: #fff;
    color: #cc0000;
}

#search-button:hover {
    background-color: #cc0000;
    border-top: solid 3px #cc0000;
    color: #fff;
}


/*stylesheet for xs size*/
@media (max-width: 768px) {
    
}

/*end stylesheet for xs size*/

/*changing size of main block in range 770-1199px (md-size)*/
@media (max-width: 1499px) and (min-width: 1200px) {

    .right-popular-inner {
        height: 175px;
    }

    /* for readinf */
    .f-read {
        padding-top: 30px;
        width: 100%;
        height: 500px;
        margin-bottom: 50px;
    }

    .f-read-block {
        width: 280px;
        height: 250px;
        padding: 7px;
    }

    .f-read-block-img {
        width: 100%;
        height: 150px;
        background-size: cover;
        background-position: center;
    }

    .f-read-block-title {
        width: 100%;
        height: 100px;
        padding-top: 20px;
        font-size: 20px;
    }

    /* end for readinf */
}
/*end changing size of main block in range 770-1199px (md-size)*/

@media (max-width: 1199px) and (min-width: 1024px) {

    #logo-section {
        font-size: 15px;
    }
}

/*changing link style in range less than 768px (sm-size)*/
@media (max-width: 992px) {


    a.categories {
        font-size: 50px;
        color: #fff;
    }

    .extra-cat {
        border-top: solid 2px white;
        border-bottom: solid 2px white;
    }

    .nav-pills > li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .right-top-cat .section-title {
        font-size: 50px;
        border-bottom: solid 2px #b80202;
        text-align: center;
    }
}
/*end changing link style in range less than 768px (sm-size)*/
