/* top from categories */
.top-category {
    padding-top: 10px;
}

.top-category .media {
    padding-top: 5px;
}


.top-category-img {
    width: 110px;
    max-height: 70px;
}

.media-heading {
    font-size: 15px;
}

.media {
    border-right: 1px solid white;
}


.media:hover {
    border-right: 1px solid #cc0000;
}

@media (max-width: 992px) and (min-width: 701px) {

    .right-top-cat .section-title {
        font-size: 30px;
    }

    .media-heading {
        font-size: 18px;
    }

    .media {
        padding: 5px 20px 10px 20px;
    }

    .media-body {
        padding: 0px 5px 0px 15px;
    }

    .media-body-cat {
        font-size: 12px;
    }

}


/* end top from categories */